.payment-amount-container {
  grid-area: amount;

  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-amount-container span {
  color: #575757;
  font-size: 28px;
  font-weight: bold;

  text-align: center;
}

.payment-amount-section-footer {
  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.restart-button {
  background-color: #4B7995;
  color: #FAFAFA;
}

.payment-amount-section-container {
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "amount  amount  "
    ".         .     "
    "footer    footer";
}