.payment-amount-container {
  grid-area: amount;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.payment-amount {
  color: #575757;
  font-size: 28px;
  font-weight: bold;

  color: #575757;
  font-size: 28px;
  font-weight: bold;

  text-align: center;
}

.payment-amount-section-footer {
  grid-area: footer;

  display: flex;
  align-items: center;
  justify-content: space-around;
}

.payment-information {
  text-align: center;
}

.restart-button {
  background-color: #4B7995;
  color: #FAFAFA;
}

.payment-amount-section-container {
  height: 100vh;
  height: calc(100vh - var(--vh-offset, 0px));
  
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
    "amount amount"
    ".      .     "
    "footer footer";
}

@media only screen and (min-width: 600px) {
  .payment-amount-section-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
      "amount amount"
      ".      .     "
      "footer footer";
  }
}

@media only screen and (min-width: 768px) and (min-height: 500px) {
  .payment-amount-section-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 15% 25% 15%;
    grid-template-areas: 
      "amount amount"
      "footer footer";
  }
}
